

/*----styles used for page design only --*/
html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: var(--cf-light-color);
    font-size: 1.1rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.content{
    flex: 1 0 auto;
    margin-top:2rem;
}

footer{
    flex-shrink: 0;
}

.footer{
    background: var(--cf-light-color);
    color: var(--cf-light-color);
}

.footer-cta {
    border-radius: 10px;
    background-color: var(--cf-dark-color);
    width: 75%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    height: 7rem;
  }

.footer-cta-bg {
    background: linear-gradient(
      to bottom,
      var(--cf-light-color) 0%,
      var(--cf-light-color) 50%,
      var(--cf-primary-color) 50%,
      var(--cf-primary-color) 100%
    );
  }

.footer-main{
    background-color: var(--cf-primary-color);
  }

.socialIcons{
    color: var(--cf-light-color);
    font-size: 2rem;
    padding-left: .5rem;
}

.socialIcons:hover{
    color: var(--cf-secondary-hsl-color);
}

.ytlink{
    color: var(--cf-light-color);
    text-decoration: none;
}

.ytlink:hover{
    color: var(--cf-secondary-hsl-color);
}


