:root{
    --cf-primary-color: #001e43;
    --cf-secondary-hsl-color: hsl(29, 100%, 62%);
    --cf-secondary-hsl-color-dark: hsl(29, 100%, 52%);
    --cf-secondary-hsl-color-darkest: hsl(29, 100%, 42%);
    
    --cf-secondary-color-rgb: rgb(255, 155, 61);
    
    --cf-dark-color: #1b1b1b;
    --cf-light-color: #ebebeb;
    --cf-light-grey: #d9d9d9;

    --cf-secondary-glow: rgba(255, 153, 59, .6);
    --cf-navbar-toggler-color : #ff993b;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
    margin-top: 4.75rem;
}

footer{
    flex-shrink: 0;
}

.footer{
    background: var(--ms-primary-color);
    color: var(--ms-light-color);
}

.btn-cf-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--cf-dark-color);
    --bs-btn-bg: var(--cf-secondary-hsl-color);
    --bs-btn-border-color: var(--cf-secondary-hsl-color);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--cf-dark-color);
    --bs-btn-hover-bg: var(--cf-secondary-hsl-color-dark);
    --bs-btn-hover-border-color: var(--cf-secondary-hsl-color-dark);
    --bs-btn-focus-shadow-rgb: var(--cf-secondary-hsl-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--cf-secondary-hsl-color-darkest);
    --bs-btn-active-border-color: var(--cf-secondary-hsl-color-darkest);
  }

  .accordian-cf{
    --bs-accordion-color: var(--cf-dark-color);
    --bs-accordion-bg: white;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease; 
    --bs-accordion-border-color: var(--cf-light-grey);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: .375rem;
    --bs-accordion-inner-border-radius: calc(.375rem-1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--cf-dark-color); 
    --bs-accordion-btn-bg: white;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width:1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width:1.25rem; 
    --bs-accordion-btn-focus-border-color: var(--cf-secondary-glow);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 153, 59, .6);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--cf-dark-color);
    --bs-accordion-active-bg: var(--cf-secondary-hsl-color); 
    
  }
  

  .accordion-cf {
    --bs-accordion-color: #212529;
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #212529;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #0c63e4;
    --bs-accordion-active-bg: #e7f1ff;
}